adbc_driver_manager==1.2.0
adbc_driver_postgresql==1.2.0
adbc_driver_sqlite==1.2.0
anywidget==0.9.13
AppKit==0.2.8
atheris==2.3.0
BeautifulSoup==3.2.2
beautifulsoup4==4.12.3
bokeh==3.6.0
boto3==1.34.133
botocore==1.34.133
Brotli==1.1.0
brotlicffi==1.1.0.0
ca_certs_locater==1.0
chardet==5.2.0
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==43.0.1
cudf==0.6.1.post1
curio==1.6
cycler==0.11.0
Cython==3.0.2
dask_expr==1.1.15
defusedxml==0.7.1
disco==1.40.4
dl==0.1.0
docutils==0.21.2
duckdb==1.1.1
email_validator==2.2.0
eval_type_backport==0.2.0
exceptiongroup==1.2.2
fastparquet==2024.5.0
filelock==3.16.1
Foundation==0.1.0a0.dev1
fqdn==1.5.1
fsspec==2024.2.0
gitdb_speedups==0.1.0
grandalf==0.8
grpc_reflection==1.0.0
grpcio_tools==1.62.3
gspread==6.1.2
h2==4.1.0
html5lib==1.1
HTMLParser==0.0.2
hypothesis==6.112.2
ibis==3.3.0
ipython==8.12.3
ipywidgets==8.1.5
isoduration==20.11.0
jnius==1.1.0
JPype1==1.5.0
keyring==25.4.1
langchain_anthropic==0.2.1
langchain_openai==0.2.1
langchain_text_splitters==0.3.0
lxml_html_clean==0.2.2
matplotlib==3.7.1
memory_profiler==0.61.0
modin==0.32.0
mtrand==0.1
numarray==1.5.1
Numeric==24.2
numexpr==2.10.1
oauth2client==4.1.3
odfpy==1.4.1
olefile==0.47
openai==1.50.2
openpyxl==3.1.5
outcome==1.3.0.post0
pickle5==0.0.12
pkgutil_resolve_name==1.3.10
plotly==5.18.0
polars==1.8.2
psutil==5.9.5
py==1.11.0
pycares==4.4.0
pycryptodome==3.20.0
pycurl==7.45.3
pygraphviz==1.13
PyInstaller==6.10.0
pyodide==0.0.2
pyOpenSSL==24.2.1
pyperf==2.7.0
pyppeteer==2.0.0
PyQt4==4.11.4
PyQt5==5.15.11
PyQt6==6.7.1
PySide6==6.7.3
pytest==8.3.3
python_calamine==0.2.3
pyu2f==0.1.5
pywin32==306
pyxlsb==1.0.10
qtpy==2.4.1
railroad==0.5.0
rapidfuzz==3.10.0
redis==5.0.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
s3fs==2024.9.0
scikit_learn==1.2.2
scipy==1.14.1
scipy_doctest==1.4
selenium==4.25.0
sets==0.3.2
setuptools_scm==8.1.0
simplejson==3.19.3
simsimd==5.4.3
slack_sdk==3.33.1
snowflake==0.12.1
socksio==1.0.0
Sphinx==8.0.2
SQLAlchemy==2.0.31
sympy==1.12
tables==3.10.1
testbench==0.1.2
thread==2.0.5
threadpoolctl==3.5.0
traitlets==5.14.3
trove_classifiers==2024.9.12
uri_template==1.3.0
urllib3_secure_extra==0.1.0
uvloop==0.20.0
vegafusion==1.6.9
webcolors==24.8.0
xarray==2024.9.0
xlrd==2.0.1
XlsxWriter==3.2.0
xmlrpclib==1.0.1
zstandard==0.23.0
